In [18]:
import csv
import pandas as pd 
import numpy as np

In [4]:
# LPT conditions raw data.xlsx - OSM_localhost_NA_LPT__KG.csv

In [96]:
data = pd.read_csv("BKPT CSP process parameters.xlsx - OSM_localhost_DP_DiffPress.csv")

C:\Users\futil\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [97]:
data

,Time,TZ,BL1.BOP_5LAB40CT001JT01_AI_JT01TValue,BL1.4LBA10CT005_XE01U,BL1.4LBA10CT007_XE01U,BL1.4LBA10CT006_XE01U,BL1.4MAA10FP915_ZE01U,BL1.4MAC10CT045_XE01U,BL1.4MAA10CT045_XE01U,BL1.BOP_5LAB30CT001JT01_AI_JT01TValue,...,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27,Unnamed: 28
0,#!Units,NaN,deg C,deg C,deg C,deg C,barg,deg C,deg C,deg C,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,#!Description,Time Zone Information,HP1 PREHEATER TEMPERATURE,Temperature Inlet Steam,Temperature Inlet Steam,Temperature Inlet Steam,Pressure After HPT Exhaust,Temperature LP-Turbine Casing,Temperature HP-Turbine Casing,SGS inlet temp,...,Pressure drop before HP extraction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2/25/21 13:50,+02:00,207.6497,384.1204,383.7786,384.1367,18.4529,355.4591,345.3248,240.5997,...,58.8756,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2/25/21 13:51,+02:00,207.8613,383.9088,383.8926,383.567,18.5033,355.4157,345.3031,240.7407,...,58.8079,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2/25/21 13:52,+02:00,208.0241,383.9577,383.9414,383.7949,18.547,355.7412,345.4116,240.9288,...,58.7909,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37174,3/23/21 9:22,+02:00,108.447,227.517,227.061,226.426,-0.7594,234.39,211.973,119.077,...,20.5706,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37175,3/23/21 9:23,+02:00,108.284,227.224,226.54,226.426,-0.7572,234.282,211.93,119.042,...,20.4665,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37176,3/23/21 9:24,+02:00,108.284,227.11,226.54,226.263,-0.7572,234.173,211.843,119.019,...,20.3351,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37177,3/23/21 9:25,+02:00,108.203,226.833,226.621,226.019,-0.7605,233.956,211.691,118.96,...,20.2278,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
37178,3/23/21 9:26,+02:00,108.171,226.898,226.491,225.417,-0.7628,233.956,211.539,118.924,...,20.0954,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [108]:
# data['one']=data['Time'][2:]+','+data['BL1.BOP_5LAB40CT001JT01_AI_JT01TValue']

data['BL1.BOP_5LAB40CT001JT01_AI_JT01TValue']

# data['Time']

0                            deg C
1        HP1 PREHEATER TEMPERATURE
2                         207.6497
3                         207.8613
4                         208.0241
                   ...
37174                      108.447
37175                      108.284
37176                      108.284
37177                      108.203
37178                      108.171
Name: BL1.BOP_5LAB40CT001JT01_AI_JT01TValue, Length: 37179, dtype: object

In [109]:
# data['one'][2:]

In [110]:
# list(data['one'])

In [111]:
# data['Time']+','+data['BL1.5LBA50CF1oo2_2JT01TValue']

# list(zip(data['Time'][2:], (data['BL1.5LBA50CF1oo2_2JT01TValue'][2:]))

# list(zip(data['Time'][2:], np.array(data['BL1.BOP_5LAB40CT001JT01_AI_JT01TValue'][2:][].to)))

In [112]:
# data['BL1.5LBA50CF1oo2_2JT01TValue'][2:][0].astype(int)


data['BL1.BOP_5LAB40CT001JT01_AI_JT01TValue'][2:].str.replace('"', '')


# [data['BL1.5LBA50CF1oo2_2JT01TValue'][2:].str.replace('"', '').values]

2        207.6497
3        207.8613
4        208.0241
5        208.0566
6        208.1706
           ...
37174         NaN
37175         NaN
37176         NaN
37177         NaN
37178         NaN
Name: BL1.BOP_5LAB40CT001JT01_AI_JT01TValue, Length: 37177, dtype: object

In [113]:
data['BL1.BOP_5LAB40CT001JT01_AI_JT01TValue']

0                            deg C
1        HP1 PREHEATER TEMPERATURE
2                         207.6497
3                         207.8613
4                         208.0241
                   ...
37174                      108.447
37175                      108.284
37176                      108.284
37177                      108.203
37178                      108.171
Name: BL1.BOP_5LAB40CT001JT01_AI_JT01TValue, Length: 37179, dtype: object

In [115]:
data[['Time', 'BL1.BOP_5LAB40CT001JT01_AI_JT01TValue']].to_csv('test.csv', index=False)

In [116]:
with open('test.csv', 'r') as istr:
    with open('output.txt', 'w') as ostr:
        for line in istr:
            line = '['+line.rstrip('\n') + '],'
            print(line, file=ostr)